/* Inizio reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Fine Reset */

/* Inizio sfondo e contenitore  */
body {
  background-image: url("../img/sfondo.png");
}

.main-wrapper {
  width: 1024px;
  margin: 10px auto;
}
/* Fine sfondo e contenitore  */

/* Inizio header */
/* titolo */
header .titolo {
  background-image: url("../img/background-header.jpg");
  height: 200px;
  border: 10px solid white;
  color: white;
  position: relative;
  text-align: center;
}

header .titolo .testo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header .titolo .testo h1 {
  border: 1px solid white;
  margin-bottom: 5px;
}

/* menu */
header .menu {
  background: #504741;
  line-height: 2;

}

header .menu ul {
  list-style-type: none;
  width: 70%;
  margin: auto;
}

header .menu ul li {
  display: inline-block;
}

header .menu ul li a {
  color: white;
  text-decoration: none;
  margin: 5px;
}

/**** hover sui tasti del menu *****/
header .menu ul li:hover {
  background: #3d3732;
}



/* Fine header */

/* Inizio main */
main .col {
  float: left;
}

main .col h3 {
  color: #504741;
  text-shadow: 1px 1px #DCDCDC;
}

/* colonna di sinistra */
main .col-left {
  width: 20%;
  padding: 10px;
  background: white;
}

main .col-left i {
  background: orange;
  color: white;
}

main .col-left ul {
  list-style-type: none;
}

main .col-left ul li a {
  list-style-type: none;
  color: green;
  text-decoration: none;
}

main .col-left ul li {
  list-style-type: none;
  color: green;
  text-decoration: none;
  margin: 10px 0;
}

/* colonna centrale */
main .col-center  {
  width: 50%;
  margin: 0 5%;
  padding: 20px;
  background: white;
}

main .col-center h3 {
  margin-bottom: 30px;
}

/* colonna di destra */
main .col-right {
  width: 20%;
}

main .col-right .box-paragraph {
  background: white;
  padding: 20px;
  margin: 30px 0;
}

main .col-right .box-paragraph:first-child {
  margin-top: 0;
}

main .col-right .box-paragraph h3 {
  margin-bottom: 30px;
}

main::after {
  content: "";
  display: table;
  clear: both;
}

main {
  margin: 5px 0;
}
/* Fine main */

/* Inizio footer */
footer {
  background: cyan;
  height: 100px;
}
/* Inizio footer */
